{% extends "base.html" %}

{% block section-title %}
    <a class="navbar-brand">Last measurements</a>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">monitor_weight</i>
              </div>
              <p class="card-category">Weight</p>
              <h3 class="card-title">{{ last_weight.weight | floatformat:1 }}
                <small>kg</small>
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats" id="weightReportTime">
                <i class="material-icons">access_time</i> reported N/A minutes ago
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">monitor_weight</i>
              </div>
              <p class="card-category">Body Fat</p>
              <h3 class="card-title">{{ last_weight.fat_ratio | floatformat:1 }}
                <small>%</small>
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats" id="fatReportTime">
                <i class="material-icons">access_time</i> reported N/A minutes ago
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">favorite</i>
              </div>
              <p class="card-category">PMV</p>
              <h3 class="card-title">{{ last_weight.pulse_wave_velocity | floatformat:1 }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats" id="pmvReportTime">
                <i class="material-icons">access_time</i> reported N/A minutes ago
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">hotel</i>
              </div>
              <p class="card-category">Sleep Score</p>
              <h3 class="card-title">{{ last_sleep_summary.sleep_score }}</h3>
            </div>
            <div class="card-footer">
              <div class="stats" id="sleepScoreReportTime">
                <i class="material-icons">access_time</i> reported N/A minutes ago
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <div class="ct-chart" id="lastNightHeartRate"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Last Night - Heart Rate</h4>
              <p class="card-category">
                Average: <span class="text-success" id="lastNightAvgHeartRate"><i class="fa fa-long-arrow-up"></i>N/A</span> bpm</p>
            </div>
            <div class="card-footer">
              <div class="stats" id="hrReportTime">
                <i class="material-icons">access_time</i> reported N/A minutes ago
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div class="ct-chart" id="lastNightBreathingRate"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Last Night - Breathing Rate</h4>
              <p class="card-category">
                Average: <span class="text-success" id="lastNightAvgBreathingRate"><i class="fa fa-long-arrow-up"></i>N/A</span> bpm</p>
            </div>
            <div class="card-footer">
              <div class="stats" id="rrReportTime">
                <i class="material-icons">access_time</i> reported N/A minutes ago
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
